.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Höhe auf 100% der Ansichtshöhe setzen */
    text-align: center;
}
.box {
    width: 700px; /* Breite der Box */
    height: auto; /* Höhe automatisch anpassen */
    background-color: var(--yellow); /* Hintergrundfarbe der Box */
    color: var(--red); /* Textfarbe */
    padding: 20px;
    border-radius: 3px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px black; /* Schlagschatten */
    margin: 20px 0; /* Abstand oben und unten */
}
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Abstand zwischen den Buttons */
    margin-top: 20px; /* Abstand zum oberen Inhalt */
}
.buttons-container a,
.buttons-container form {
    display: inline-block;
}
.buttons-container button {
    background-color: var(--bt);
    color: var(--blue);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}