body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/assets/images/Lose.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column; /* Hinzugefügt, um die vertikale Ausrichtung zu ermöglichen */
}
.message {
    color: var(--red);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; /* Abstand zum Button */
}
.center-button {
    text-align: center;
}
.center-button button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--bt);
    color: var(--blue);
    border-radius: 10px;
    border: none;
}