.box {
    width: 700px; /* Breite der Box */
    height: 70px; /* Höhe der Box */
    background-color: var(--yellow); /* Hintergrundfarbe der Box */
    color: #454541; /* Textfarbe */
    padding: 10px;
    border-radius: 3px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px black; /* Schlagschatten */
    margin: 20px auto; /* Zentrierung der Box */
}
.solution_right {
    color: var(--green);
}
.solution_wrong {
    color: var(--red);
}