.box {
    width: 1000px; /* Breite der Box */
    height: 650px; /* Höhe der Box */
    background-color: var(--bt); /* Hintergrundfarbe der Box */
    color: var(--green); /* Textfarbe */
    padding: 10px;
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px black; /* Schlagschatten */
    margin: 20px auto; /* Zentrierung der Box */
    font-family: 'Courier New', Courier, monospace;
}
input[type="text"] {
    border: none; /* Keine Rahmen um das Input-Feld */
    background: var(--bt); /* Schwarzer Hintergrund */
    color: var(--green); /* Grüner Text */
    font-family: 'Courier New', Courier, monospace; /* Schriftart */
    width: calc(100% - 50px); /* Vollständige Breite abzüglich der Breite des Texts */
    margin-left: 10px; /* Abstand zum Text */
    margin-top: -20px; /* Vertikaler Abstand zum Text */
    padding: 5px; /* Innenabstand */
}

/* Stil für das Eingabefeld, wenn es aktiviert ist */
input[type="text"]:focus {
    background: var(--bt); /* Schwarzer Hintergrund, wenn das Feld aktiviert ist */
    color: var(--green); /* Grüner Text */
}

/* Stil für den überprüfen Button */
button[type="submit"] {
    background-color: var(--green); /* Hintergrundfarbe des Buttons */
    color: #000000; /* Textfarbe des Buttons */
    border: none; /* Kein Rahmen um den Button */
    padding: 10px 20px; /* Innenabstand */
    cursor: pointer; /* Zeige Zeiger, wenn der Mauszeiger über dem Button ist */
    margin-top: 10px; /* Abstand zum vorherigen Element */
    border-radius: 5px; /* Abgerundete Ecken */
}

/* Stil für den überprüfen Button beim Überfahren */
button[type="submit"]:hover {
    opacity: 0.8;
}
.solution_right {
    color: var(--green);
}
.solution_wrong {
    color: var(--red);
}