<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.html'); %>
	<meta name="title" content="404" />
    <link rel="stylesheet" href="/Escaperoom_Game/assets/styles/index.css">
</head>
<body>
	<%- include('articles/404.html'); %>
</body>
</html>