<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.html'); %>
	<meta name="title" content="Home Page" />
    <link rel="stylesheet" href="/assets/styles/home.css">
</head>
<body>
	<%- include('partials/header.html'); %>
	<%- include('articles/home.html'); %>
	<%- include('partials/footer.html'); %>
</body>
</html>