<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Room</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url("assets/images/bg01.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .center-button {
            text-align: center;
        }
        .center-button button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="center-button">
        <a href="video">
            <button style="background-color:#0D0E0E;color:#11FFFF;border-radius:10px ">Start!</button>
        </a>
    </div>
</body>
</html>





</body>
</html>
