<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.html'); %>
	<meta name="title" content="Escape Room" />
    <link rel="stylesheet" href="assets/styles/index.css">
</head>
<body>
	<%- include('articles/index.html'); %>
</body>
</html>