<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Room</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url("assets/images/Lose.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            flex-direction: column; /* Hinzugefügt, um die vertikale Ausrichtung zu ermöglichen */
        }
        .message {
            color: red;
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px; /* Abstand zum Button */
        }
        .center-button {
            text-align: center;
        }
        .center-button button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #0D0E0E;
            color: #11FFFF;
            border-radius: 10px;
            border: none;
        }
    </style>
</head>
<body>
    <div class="message">
        You Lose
    </div>
    <div class="center-button">
        <a href="home">
            <button>Restart</button>
        </a>
    </div>
</body>
</html>
