<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.html'); %>
	<meta name="title" content="Schiff-Computer" />
    <link rel="stylesheet" href="assets/styles/raetsel02.css">
</head>
<body>
	<%- include('partials/header.html'); %>
	<%- include('articles/raetsel02.html'); %>
	<%- include('partials/footer.html'); %>
</body>
</html>