<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.html'); %>
	<meta name="title" content="Motorraum" />
	<link rel="stylesheet" href="assets/styles/raetsel01.css">
</head>
<body>
	<%- include('partials/header.html'); %>
	<%- include('articles/raetsel01.html'); %>
	<%- include('partials/footer.html'); %>
</body>
</html>