<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.html'); %>
	<meta name="title" content="Sauerstoff generator" />
    <link rel="stylesheet" href="assets/styles/raetsel03.css">
</head>
<body>
	<%- include('partials/header.html'); %>
	<%- include('articles/raetsel03.html'); %>
	<%- include('partials/footer.html'); %>
</body>
</html>