<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.html'); %>
	<meta name="title" content="Video Page" />
    <link rel="stylesheet" href="assets/styles/video.css">
</head>
<body>
	<%- include('articles/video.html'); %>
</body>
</html>