<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.html'); %>
	<meta name="title" content="Ab nachhause!" />
	<link rel="stylesheet" href="/assets/styles/win.css">
</head>
<body>
	<%- include('articles/win.html'); %>
</body>
</html>