{% extends "layout.html" %}

{% block title %}Sauerstoff Generator{% endblock %}

{% block content %}
 <style>
        .box {
            width: 700px; /* Breite der Box */
            height: 70px; /* Höhe der Box */
            background-color: #E6F57F; /* Hintergrundfarbe der Box */
            color: #454541; /* Textfarbe */
            padding: 10px;
            border-radius: 3px; /* Abgerundete Ecken */
            box-shadow: 0 4px 8px #000000; /* Schlagschatten */
            margin: 20px auto; /* Zentrierung der Box */
        }
 </style>
<a>Der Sauerstoffgenerator deines Schiffes hat bei der Kollision auch Schaden erlitten. Du machst dich auf dem Weg, um ihn zu reparieren und als du den Raum betrittst, siehst du, dass 5 unterschiedlich große Schrauben auf dem Boden liegen: <br>
    Die Bohrschraube, Deilenschraube, Holzbauschraube, Justierschraube und Sprenglerschraube.</a>
<a> Du weißt, dass diese Schrauben Zahnräder im Sauerstoffgenerator stabilisiert haben, aber nicht mehr, zu welchem Zahnrad die jeweiligen Schrauben gehören. Du schaust dich um und findest auch hier wieder ein Zettel am Fenster kleben:</a>

<div class="box">
    <a>Zahnrad A und E sind entweder das Kleinste oder das Größte <br>
    Zahnrad D ist kleiner als Zahnrad A <br>
    Zahnrad B ist das Drittkleinste und Drittgrößte <br>
    Zahnrad C ist größer als Zahnrad E und kleiner als Zahnrad D</a>
</div>


<a>Du erinnerst dich noch, dass die kleinste Schraube zu dem größten Zahnrad gehört und je kleiner die Zahnräder werden desto größer die Schrauben.</a>

<div class="box">
<a>Die Justierschraube ist die Größte<br>
    Die Holzbauschraube ist größer als die Deilen und die Bohrschraube<br>
    Die Bohrschraube ist größer als die Sprenglerschraube <br>
    Die Sprenglerschraube ist größer als die Deilenschraube aber kleiner als die Holzbauschraube</a>
</div>

<a>Um den Sauerstoffgenerator zu reparieren, musst du jedes Zahnrad mit der entsprechenden Schraube festmachen.</a>

<form action="{{ url_for('views.check_solution') }}" method="POST">
    <label for="solution_a">Zahnrad A:</label>
    <input type="text" id="solution_a" name="solution_a" required><br>
    <label for="solution_b">Zahnrad B:</label>
    <input type="text" id="solution_b" name="solution_b" required><br>
    <label for="solution_c">Zahnrad C:</label>
    <input type="text" id="solution_c" name="solution_c" required><br>
    <label for="solution_d">Zahnrad D:</label>
    <input type="text" id="solution_d" name="solution_d" required><br>
    <label for="solution_e">Zahnrad E:</label>
    <input type="text" id="solution_e" name="solution_e" required><br>
    <input type="hidden" name="riddle" value="raetsel03">
    <button type="submit">Überprüfen</button>
</form>
        {% if result is defined %}
    {% if result %}
        <p style="color: #14FF00;">Richtige Antwort!<br></p>
    {% else %}
        <p style="color: #FF0000;">Falsche Antwort...</p>
    {% endif %}
{% endif %}
{% endblock %}