<article>
    <video width="600" controls>
        <source src="assets/videos/video01.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="content">
        <p style="color:#11FFFF">Du warst auf dem Flug zurück nach Hause, als du mit einem Meteorit kollidierst und auf einem hochgefährlichen Planeten abstürzt.
            Wegen des gefährlichen Wetters und ununterbrochenen Stürmen hast du nicht viel Zeit, um dein Raumschiff zu reparieren.
            Wer weiß, was für Gefahren noch auf der Planetenoberfläche lauern....</p>
        <a href="home">
            <button>Weiter</button>
        </a>
    </div>
</article>