<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" conten="with=device with", initial scale="1" />
    <title>Escape Room</title>
</head>
<body> Du warst auf dem Flug zurück nachhause als du mit einem Meteorit kollidierst und auf einem hochgefährlichen Planeten abstürtzt. Wegen dem gefährlichen Wetter und ununterbrochenen Stürmen hast du nicht viel Zeit um dein Raumschiff zu reparieren. In einer Stunde erreichen die Stürme ein kritisches Niveau</body>
</html>