{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Willkommen auf der Home-Seite</h1>
 <p style="color:#11FFFF">Dein Schiff hat großen Schaden erlitten und du hast keinen Empfang um Zuständige um Hilfe zu bitten.
            Als du dich von dem Schock erholt hast stehst du auf um den erlittenen Schaden zu beurteilen... doch.. Hm? An einem der Fenster in deinem Schiff
            Klebt ein Zettel. Anscheinend lebt auf diesem Planet eine inteligente Lebensform!
            Voller hoffnung dass du Hilfe von den Aliens kriegst liest du den Zettel...
            Doch die Nachricht der Aliens ist nicht das was du dir erhofft hast...</p>


            <p style="color:#E94040">"Wir Stellen Rätsel. Wenn du Rätsel Löst, wir helfen dir Raumschiff zu reparieren.
            Wenn nicht, du bist Leibspeise für uns, weil Adrenalin macht dich köstlicher."</p>

           <p style="color:#11FFFF"> Du fühlst wie dein Herz vor Angst stehenbleibt, doch du hast keine Zeit zu verschwenden. Du atmest tief durch und schaffst es dich zu beruhigen...
            Das einzige was du jetzt machen kannst ist die Rätsel rechtzeitig zu lösen...</p>

        <a href="{{ url_for('views.raetsel01') }}">
            <button style="background-color:#0D0E0E;color:#11FFFF;border-radius:10px">Motorraum</button>
        </a>
        <a href="{{ url_for('views.raetsel02') }}">
            <button style="background-color:#0D0E0E;color:#11FFFF;border-radius:10px">Borad-Computer</button>
        </a>
        <a href="{{ url_for('views.raetsel03') }}">
            <button style="background-color:#0D0E0E;color:#11FFFF;border-radius:10px">Sauerstoff-generator</button>
        </a>
{% endblock %}
