{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<style>
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Höhe auf 100% der Ansichtshöhe setzen */
        text-align: center;
    }
    .box {
        width: 700px; /* Breite der Box */
        height: auto; /* Höhe automatisch anpassen */
        background-color: #E6F57F; /* Hintergrundfarbe der Box */
        color: #D40303; /* Textfarbe */
        padding: 20px;
        border-radius: 3px; /* Abgerundete Ecken */
        box-shadow: 0 4px 8px #000000; /* Schlagschatten */
        margin: 20px 0; /* Abstand oben und unten */
    }
      }
    .buttons-container {
        display: flex;
        justify-content: center;
        gap: 10px; /* Abstand zwischen den Buttons */
        margin-top: 20px; /* Abstand zum oberen Inhalt */
    }
    .buttons-container a,
    .buttons-container form {
        display: inline-block;
    }
    .buttons-container button {
        background-color: #0D0E0E;
        color: #11FFFF;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
    }
</style>
<div class="content-container">
    <p>Dein Schiff hat großen Schaden erlitten und du hast keinen Empfang um Zuständige um Hilfe zu bitten.
    Als du dich von dem Schock erholt hast, stehst du auf, um den erlittenen Schaden zu beurteilen... doch.. Hm? An einem der Fenster in deinem Schiff
    klebt ein Zettel. Anscheinend lebt auf diesem Planet eine intelligente Lebensform!
    Voller Hoffnung, dass du Hilfe von den Aliens kriegst, liest du den Zettel...
    Doch die Nachricht der Aliens ist nicht das, was du dir erhofft hast...</p>

    <div class="box">"Wir stellen Rätsel. Wenn du Rätsel löst, wir helfen dir Raumschiff zu reparieren.
    Wenn nicht, du bist Leibspeise für uns, weil Adrenalin macht dich köstlicher."</div>

    <p>Du fühlst wie dein Herz vor Angst stehenbleibt, doch du hast keine Zeit zu verschwenden. Du atmest tief durch und schaffst es, dich zu beruhigen...
    Das Einzige was du jetzt machen kannst ist, die Rätsel rechtzeitig zu lösen...</p>

    <div class="buttons-container">
        <a href="{{ url_for('views.raetsel01') }}">
            <button>Motorraum</button>
        </a>
        <a href="{{ url_for('views.raetsel02') }}">
            <button>Schiff-Computer</button>
        </a>
        <a href="{{ url_for('views.raetsel03') }}">
            <button>Sauerstoff-Generator</button>
        </a>
        <form action="{{ url_for('views.check_all_solved') }}" method="GET">
            <button type="submit">Raumschiff Starten</button>
        </form>
    </div>
</div>
{% endblock %}
