{% extends "layout.html" %}

{% block title %}Ab nachhause!{% endblock %}

{% block content %}
<div style="position: relative; text-align: center; color: white;">
    <img src="{{ url_for('static', filename='Win.png') }}" alt="Gewonnen" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 48px; font-weight: bold; color: green;">
        Entkommen
    </div>
</div>
<p>Mit wackliger Hand zögerst du, dein Raumschiff zu starten... Du hast zwar alle Rätsel gelöst, doch unzählige Fragen schwirren noch in deinem Kopf herum... Werden diese Aliens wirklich ihr Wort halten?... Werden sie wirklich dein Raumschiff reparieren?</p>
<p>Es gibt nur einen Weg, um das herauszufinden. Du kneifst die Augen zu und startest dein Raumschiff!</p>
{% endblock %}
